<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Tree</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="max_width_centered">
    <div class="header">
        <h1>Welcome, {{session.first_name}}!</h1>
        <div class="header_line_group">
            <a href="/recipes">Back to Recipes</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div>
        <div class="form_header">
            <h2>{{recipes.recipe_name}}</h2>
            <h2>Posted by: {{recipes.posted.first_name}}</h2>
        </div>
        <div class="form_box">
            <p>Description: {{recipes.description}}</p>
            <p>Under 30 Minutes? {{recipes.under_thirty_minutes}}</p>
            <p>Instructions: {{recipes.instructions}}</p>
            <p>Date Made: {{recipes.date_cooked}}</p>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html> 